/* components/album-card/index.wxss */
@import '../../style/varibles.scss';
.album-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 280rpx;
    align-items: center;

    .image {
        width: 280rpx;
        height: 280rpx;
        border-radius: 30rpx;
        overflow: hidden;
    }
    .title {
        margin-top: 20rpx;
        font-size: 32rpx;
        color: $text-active-color;
        line-height: 36rpx;
        max-width: 150rpx;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .musician {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150rpx;
        margin-top: 10rpx;
        font-size: 24rpx;
        color: $text-color;
        line-height: 30rpx;
        overflow: hidden;
        text-overflow: ellipsis;// 忽略
        white-space: nowrap;
    }
}